
.buttonsContainer {
    display: flex;
    gap: 20px;
}

.responseContainer {
    display: flex;
    margin: 20px;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}